.hello {
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.hello h2{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 18px;
    
}

.hello h2 span{
    font-weight: 200;
}

.hello p{
    width: 50%;
    text-align: center;
}

.hello p:first-of-type{
    margin-bottom: 24px
}

textarea{
    resize: none;
}

.contact{
    width: 30%;
    display: grid;
    grid-template-areas: 
    "mail subject"
    "mess mess"
    "btn btn"
    ;
    gap: 24px;
}

.contact input:first-of-type{
    grid-area: mail;
}

.contact input:nth-child(2){
    grid-area: subject;
}

.contact textarea{
    grid-area: mess;
    background-color: #efefef;
    border: 1px solid black;
}

.contact button{
    grid-area: btn;
    border: none;
    color: white;
    background-color: black;
}

.contact input{
    background-color: #efefef;
    border: 1px solid black;
}

input::placeholder, textarea::placeholder{
    color: black;
    font-size: 14px;
}

input,button  {
    padding: 4px 12px;
}

textarea {
    padding: 8px 12px;
}


p:last-of-type{
    margin-top: 60px;
}