footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 260px;
    background-color: var(--clr-primary);
    color: white;
}

footer .foot-nav h3{
    color: var(--clr-orange);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}

footer .foot-nav li:not(:last-child){
    margin-bottom: 6px;
}

footer .last-foot-ctn i{
    font-size: 22px;
    margin-right: 20px;
}

.icon-ctn{
    margin-bottom: 20px;
}

.copy, .version{
    width: 320px;
    color: gray;
    margin-bottom: 6px;
}