.services{
    background-color: var(--clr-bg-lightgray);
}

.services .line{
    background-color: var(--clr-bg-darkgray);
}

.card .img-ctn{
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card .content{
    padding: 20px;
    background-color: var(--clr-white);
    color: rgb(75, 75, 75);
}

.card .content h2{
    font-weight:lighter;
    margin-bottom: 6px;
}

.card .content .read-more-btn{
    border-radius: 4px;
    padding: 6px 18px;
    margin-bottom: 6px;
}

.services ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 30px 0px;
}