<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::head}">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/users/register}"
                    th:method="POST"
                    th:object="${userRegisterBindingModel}">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               th:field="*{username}"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                        <small id="usernameError"
                               class="bg-danger rounded"
                               th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                        >Username is invalid</small>


                        <small id="usernameUniqueError"
                               class="invalid-feedback bg-danger rounded"
                        >Username is already occupied</small>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label ">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input
                               th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               name="fullName"
                               type="text"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                        <small id="fullNameError"
                               th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                               class=" form-text bg-danger rounded">Invalid Full Name</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{email}"
                                name="email"
                               type="email"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                        <small id="emailError"
                               th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="form-text bg-danger rounded">Must be valid email</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputAge" class="col-form-label ">Age</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{age}"
                                name="age"
                               type="number"
                               id="inputAge"
                               class="form-control"
                               aria-describedby="ageHelpInline">
                        <small id="ageError"
                               th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                               class="form-text bg-danger rounded">Must be valid age</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:field="*{password}"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:field="*{confirmPassword}"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               th:id="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                               class="form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/fragments::footer}">
</footer>
</body>
</html>