footer{
   background-color: var(--clr-footer-bg); 
   padding: 20px 60px;
}

footer h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

footer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

footer ul li{
    text-align: center;
}

footer ul li h4{
   margin-bottom: 3px;
}

footer>p{
    text-align: center;
    font-size: 14px;
}