@media (max-width:600px){
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    .tm-gallery{
      margin-left: 0px;

    }

    .tm-section-title{
        font-size: 2.5rem;
        margin-left: 0px;
    }

    .tm-gallery-page{
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .tm-cta-section{
        width: 100%;
    }

    .tm-cta-section, .tm-footer{
        font-size: 0.95rem;
    }
    
}
