@media screen and (max-width:600px) {


    .row{
       display:block;
    }

    .tm-section-title {
        font-weight: bold;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 50px;
        text-align: center;
      }

      
    .tm-gallery{
        margin-left: 0px;
    }
      .tm-gallery-page {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .tm-cta-section {
        width: 100%;
        justify-content: center;
      }
}
