footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid gray;
    margin: 0px 190px;
    padding: 60px 0px;
}

footer img{
    width: 170px;
    margin-right: 20px;
}
.logo-ctn{
    display: flex;
    align-items: center;
}

.logo-ctn p{
    color: rgb(201, 199, 199);
}

footer ul{
    display: flex;
    font-size: 20px;
    align-items: center;
}

footer ul li{
    margin-right: 20px;
}

.icon-ctn i {
    margin-right: 8px;
}