.care{
    padding: 0px 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.care .article{
    width: 400px;
    color: black;
    position: absolute;
    top: 50%;
    left: 800px;
    transform: translateY(-50%);
  
 }
 
.article h1{
     font-size: 38px;
 }
 
 .article h1:first-child{
     font-weight: 2;
     line-height: 1;
 }
 
 .care .article h1:nth-child(2){
     margin-bottom: 20px;
 }
 
 .care .article p{
    font-size: 14px;
    color: var(--clr-gray-text);
 }
 
 
 .care .btn{
  color: var(--clr-white);
  background-color: var(--clr-red-text);  
  border: none;
  padding: 8px 26px;
  font-weight: bold;
 }