footer{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 200px;
}

footer h3{
    color: var(--clr-text-dark);
    margin-bottom: 32px;
    font-size: 1.8rem;
    font-weight: 550;
}

footer li, address{
    color: rgb(151, 151, 151);
    font-size: 1.1rem;
    font-weight: 550;
    margin-bottom: 16px;
    font-style: normal;
}

footer img{
    margin-bottom: 32px;
}

footer .ctn:last-child{
    width: 300px;
}

