
header {
    margin: 36px 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.15rem;
}


header nav ul{
    display: flex;
}

header nav ul li{
    color: var(--clr-nav);
    font-weight: bold;
    cursor: pointer;
}

header nav ul li:not(:last-child){
    margin-right: 50px;
}

.hero{
    position: relative;
    color: white;
    min-height: 1000px;
}

.hero .hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .hero-dog{
    position: absolute;
    top: 140px;
    left:25%;
    height: 850px
}

.hero .info{
    width: 350px;
    position: absolute;
    top: 250px;
    left:18%;
}

.hero .info h1{
    font-weight: 200;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 16px;
    color: white;
}

.hero .info p{
    line-height: 2;
    margin-bottom: 32px;
}

.btn{
    all: unset;
    color: var(--clr-red);
    background-color: white;
    border: 1px solid var(--clr-border);
    border-radius: 32px;
    font-weight: bold;
    padding: 16px 48px;
}