.services {
    padding: 150px 200px;
}

.services .title-ctn{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.services .title-ctn h2{
    font-weight: 700;
    font-size: 36px;
}

.services .title-ctn p{
    font-size: 14px;
    color: var(--clr-gray-text);
    line-height: 2;
}

.services .card{
    width: 350px;
    border-radius: 10px;
    border: 1px solid var(--clr-red-text);
    text-align: center;
    padding: 60px 25px;
}

.services .card .badge-ctn{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.services .card .badge-ctn img:first-child{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.services .card .badge-ctn img:last-child{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.services .card h3{
    margin-bottom: 20px;
}

.services ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.services .card p{
    color: var(--clr-gray-text);
    line-height: 2;
}