.why{
    background: url(./images/cats-bg.png);
    background-size:cover;
    padding: 180px 80px;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
}

.why .why-card{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.why .title-ctn{
    width: 65%;
    text-align: center;
}

.why .title-ctn h2, .why .title-ctn p{
    margin-bottom: 15px;
}

.why .contact-ctn{
   width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}

.why .contact-ctn .btn{
    font-weight: bold;
}

