@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: #d7d9dd;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 12px 6px gray;
}

.welcome{
    height: 100%;
    color: white;
    background: url(./image/cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
    z-index: 1;
}


.welcome::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 420px;
    z-index: -1;
}

.welcome>p{
    font-size: 12px;
    font-weight: 700;
}

.welcome>div{
    text-align: center;
}

.welcome div h1{
    font-size: 28px;
    font-weight: 100;
}

.welcome div h2{
    font-size: 20px;
    font-weight: 100;
}

i{
    font-size: 13px;
    margin-right: 10px;
}

.reg-form{
    background-color: #fafafa;
    padding: 40px;
    font-size: 14px;
}

.reg-form form{
    display: flex;
    flex-direction: column;
   
}

.reg-form form label{
    color: #d7d9dd;
    margin-bottom: 5px;
}

.reg-form form input{
  background-color: #fafafa;
  border: none;
  padding: 5px;
  border-bottom: 1px solid #d7d9dd;
  margin-bottom: 15px;
}

.reg-form form input::placeholder{
    color: #808082;
   text-indent: 15px;
}

.reg-form form input:last-child{
    margin-bottom: 50px;
}

button{
    padding: 5px 35px;
    color: white;
    background-color: black;
    border-radius: 16px;
    font-weight: bold;
}

a{
    font-size: 12px;
    font-weight: bold;
    color: #9a9a9a;
    margin-left: 15px;
}