body{
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

body > *{
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    -webkit-box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.58); 
    box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.58);
}

header, footer{
    flex-basis: 100%;
}

main {
    flex: 8 1 40rem;
}


aside{
    flex: 2 1 20rem;
}  