@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

@import url(./top-section.css);
@import url(./card.css);
@import url(./white.css);

:root{
    --clr-bg-btn:#ececec;
    --clr-bg-red-btn: #e24e2a;
    --clr-text:#2c383b;
    --clr-bg-dark: #383838;
    --clr-dark-text:#594b40;
}

body{
    font-family: Helvetica, sans-serif;
}